body {
    margin: 0;
}

.marg {
    margin: 20px;
}

.progress-bar-success, .alert-success {
    background-color: #84ff74;
}

.progress-bar-info, .alert-info {
    background-color: #9bd1ff;
}

.progress-bar-warning, .alert-warning {
    background-color: #fcd06c;
}

.progress-bar-danger, .alert-danger {
    background-color: rgb(255, 106, 106);
}